<div class ="align-center">
  <div>
    <h2>Cargar Clientes</h2>
    <mat-form-field>
      <ngx-mat-file-input [formControl]="fileControl" [multiple]="multiple" [accept]="'.txt'" [color]="color" placeholder="Escoga su archivo (Solo archivos txt)">
      </ngx-mat-file-input>
    </mat-form-field>
    <section>
      <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="sendFile()">Procesar</button>
      </div>
    </section>
  </div>
  <div>
    <h2>Clientes Guardados</h2>
    <mat-form-field fxFlex="40%">
      <input (keyup)="applyFilter($any($event.target).value)" matInput placeholder="Filtrar">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
      </ng-container>
      <ng-container matColumnDef="documento">
        <th mat-header-cell *matHeaderCellDef> Documento </th>
        <td mat-cell *matCellDef="let element"> {{element.document}} </td>
      </ng-container>
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> Telefono </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div>
    <h2>Clientes con Error</h2>
    <mat-form-field fxFlex="40%">
      <input (keyup)="applyFilter($any($event.target).value)" matInput placeholder="Filtrar">
    </mat-form-field>
    <table mat-table [dataSource]="dataSourceE" class="mat-elevation-z8">
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
      </ng-container>
      <ng-container matColumnDef="documento">
        <th mat-header-cell *matHeaderCellDef> Documento </th>
        <td mat-cell *matCellDef="let element"> {{element.document}} </td>
      </ng-container>
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> Telefono </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsE"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsE;"></tr>
    </table>
  </div>
</div>
